.education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

.education li {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    font-size: 1.25rem;
    padding: 1rem;
    display: flex;
    font-weight: 700;
}

.education .time{
    font-size: smaller;
    font-weight: 400;
}
